<!DOCTYPE html>
<html>
    <head>
        <link rel="website icon" href="/static/img/IMG_20240129_160901.jpg">
        <title> {% block t %} {% endblock %} </title>
        <link rel="stylesheet" href="{{ url_for('static' , filename='style.css') }}">
    </head>
    <div class="headerbox">
    <b>  <p class="head7">A</p> </b>
    <b>  <p class="head4">N</p> </b>
    <b>  <p class="head6">Y</p> </b>
    <b>  <p class="head1">R</p> </b>
    <b>  <p class="head2">A</p> </b>
    <b>  <p class="head3">S</p> </b>
    <b>  <p class="head4">T</p> </b>
    <b>  <p class="head5">E</p> </b>
    <b>  <p class="head6">R</p> </b>
    <b>  <p class="head1">سفارش تصاویر ماهواره ای</p> </b>
    </div>
<body>
    {% block body %} 
    {% endblock %}
</body>

                            
    <div class="footer-center">
        <ul>
            <li><a href="/get-code">پیگیری</a></li>
            <li><a href="/admin">ادمین</a></li>
            <li><a href="/#">خانه</a></li>
        </ul>
        </div>
            
       

</html>